hosturl=mongodb://ankit-task-db:WnR86HIXVEdz1R7pNbReuDcXGInGIVuB8mQoi21u8fO6sC4KHP1Wwg9s905ijNoEdMCPCOrijFOVACDb64FFKw==@ankit-task-db.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@ankit-task-db@/reactdb
PORT=443